/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin strateg {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
    .v-nativebutton-tile {
    
  	display: inline-block;
	border-radius: 2px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
	padding: 5px 10px;
	width: 100%;
	height: 150px;
	text-align: center;
	font-size:24px;
    font-weight:700;
    text-decoration:none;
	
  	}

  	.v-panel-content > div {
	   background: transparent;
	}
	
	.v-panel-content {
	   background-color: transparent;
	}
	
	.v-textfield-blue { 
		background-color: #66FFCC;
		width: 40px;
	}
	
	.v-textfield-green { 
		background-color: #CCFF99;
		width: 40px;
	}
	
	.v-textfield-yellow { 
		background-color: #FFFF99;
		width: 40px;
	}
	
	.v-textfield-pink { 
		background-color: #FFCCCC;
		width: 40px;
	}
	
	.v-label-blue { 
		background-color: #66FFCC;
		width: 40px;
	}
	
	.v-label-green { 
		background-color: #CCFF99;
		width: 40px;
	}
	
	.v-label-yellow { 
		background-color: #FFFF99;
		width: 40px;
	}
	
	.v-label-pink { 
		background-color: #FFCCCC;
		width: 40px;
	}
	
	.v-label-rotated {
		transform:rotate(270deg);
		-webkit-transform:rotate(270deg);
		transform-origin: top left;
		position: absolute;
		width:auto;
	}

  
	.v-label-title {
		font-style:italic;
		font-size:large;
	}
	
	.v-menubar {
		text-align: left;
		background: #E8E8E8;
		color: #909090 ;
		border-style:ridge;
	}
	
	.v-menubar-dark {
		text-align: left;
		background: #606060;
		color: #909090 ;
		border-style:ridge;
	}
	


}


